<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AWConnStr" connectionString="Data Source=.; Initial Catalog=AdventureWorks2019; Uid=sa; Pwd=123"/>
		<add name="NWConnStr" connectionString="Data Source=.; Initial Catalog=Northwind; Uid=sa; Pwd=123"/>
	</connectionStrings>
</configuration>